.menu{
    background-color: dodgerblue; 
    color: dodgerblue;
    padding-left: 5%;
}  

.btn-primary, .btn-primary:active, .btn-primary:visited {
background-color: #1e90ff !important; 
}

.btn-primary:active{
background-color: blue !important;
}

.sharp {
  border-radius: 0;
}

.form-group-sm .form-control {
  border-radius: 0;
}

.header{

}

h1 {
    font-family: 'Noto Serif', serif;
    color: black;
}

h2, h3, h4, h5, h6 {
    font-family: 'Lora', serif;
}

h3 {
    font-size: 25px;
    color: dimgray;
}

.matt{
    font-family: 'Lora', serif;
    color: #696969;
}

.raymond{
    font-family: 'Noto Serif', serif;
    color: black;
}

.first-letter{
    font-size: 480%;

}

.other-letters{
    font-size: 400%;
}

.footer-text{
    color: white;
}

.footer-bar{
    padding-top: 15px;
}

.center-area{
    padding-top: 50px;
    padding-bottom: 200px;
}

.embed-responsive {
    position: relative;
    display: block;
    height: 0;
    padding: 0;
    overflow: hidden;
}

h1 {
    margin-left: calc(25% - 20px);
    margin-right: 25%;
}

h2, h3, h4, h5, h6 {
    margin-left: 25%;
    margin-right: 25%;
}

.h1-hr {
    margin-left: calc(25% - 40px);
    margin-right: 25%;
    border-style: solid;
    border-color: darkgrey;
}

.hn-hr {
    margin-left: calc(25% - 20px);
    margin-right: 25%;
}

.hr-blank {
    margin-bottom: 25px;
    border-style: none;
}

p {
    margin-left: 25%;
    margin-right: 25%;
}

ul li {
    color: dodgerblue;
    list-style-type: disc;
}

ul li span {
    color: black;
}

ul {
    margin-left: calc(25% + 20px);
    margin-right: calc(25% - 20px);
}

.indented {
    margin-left: 25%;
    margin-right: 25%;
}

.column {
  float: left;
  width: 50%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}