---
---

<!-- chess.html -->

<style>
  body {
    font-family: system-ui;
    background: #0D324D;
    color: white;
    text-align: center;
  }

  div {
    background: #020202;
    display: inline-block;
    font-size: 50vw;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
  }

  *.unselectable {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
</style>

<div class='unselectable'>‽</div>

<script>
  function sum(dict) {
      return Object.values(dict).reduce(
        (prev, curr) => prev + curr, 0
      );
    }

    var pieces = {
      'pawn': 1,
      'rook': 1,
      'knight': 1,
      'bishop': 1,
      'queen': 1,
      'knight': 1,
    }

    const icons = {
      'pawn': '♟',
      'rook': '♜',
      'knight': '♞',
      'bishop': '♝',
      'queen': '♚',
      'king': '♛',
    }

    var test_div = document.getElementsByTagName('div')[0]
    test_div.addEventListener("click", () => {
      const flt_idx = Math.random() * sum(pieces);
      var start = 0;
      const tuple = Object.entries(pieces);
      for (let i = 0; i < tuple.length; i++) {
        var [key, end] = tuple[i];
        if (flt_idx >= start && flt_idx < start + end) {
          test_div.innerHTML = icons[key];
          break;
        } else {
          start += end;
        }
      }
    });
</script>
